.plan-item__description {
  margin: 10px;
  text-align: start;
  font-size: 10px;
}

@media screen and (min-width:320px) and (max-width:450px) {
  .plan-item__description {
    font-size: 8px;
  }
}

@media screen and (min-width:450px) and (max-width:950px) {
  .plan-item__description {
    font-size: 10px;
  }
}
