.input__description {
  font-size: 1.5vw;
  font-weight: 100;
  width: 40vw;
  height: 15vw;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 2px;
  resize: none;
  overflow-y: hidden;
  overflow-x: hidden;
  overflow-wrap: break-word;
}
