$background-color: #aab4b9;
$second-background-color: #ffffff;

@mixin flex {
  display: flex;
  justify-content: center;
}

@mixin flex-center {display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin fixed {
  position: fixed;
  top: 0;
  left: 0;
}

@mixin border {
  border: 1px solid rgba(0, 0, 0, 0.114);
}

@mixin background-image {
  background-size: cover;
  background-color: transparent;
  border: none;
}

@mixin Times-New-Roman {
  font-family: "Times New Roman", Times, serif;
  color: #000000;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
}
